* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row div {
  border: 1px solid white;
  color: white;
  padding: 0.5rem 0;
}

.blue {
  background-color: #016dfa;
}

.green {
  background-color: lightgreen;
}
